/* Палитра */
/* Цвета логотипа, почта в header, акцент #2196F3, #000000 */
/* Фон в секции Шапка и footer background: #2F303A; */
/* Цвет основного текста #212121 */
/* Вторичный цвет #757575 */
/* Цвет текста в шапке #FFFFFF */
/* Контакты в footer rgba(255, 255, 255, 0.6); */
/* Фон в секции Наша команда background: #F5F4FA; */

body {
    background-color: #fff;
    color: #212121;    
}

ul {
    list-style: none;
}

/* Site nav */

.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

/* Section */

.sectio-title {
    color: #212121;
}

/* класси з index.html */

.page-header {}

.page-header-nav {}

.logo {}

.site-nav {}

.site-nav-link {}

.header-contacts {}

.header-contacts-link {}

.head {}

.head-title {}

.head-button {}

.features {}

.features-title {}

.features-list {}

.features-item {}

.features-text {}

.services {}

.services-title {}

.services-list {}

.services-item {}

.services-picture {}

.team {}

.team-title {}

.team-list {}

.team-item {}

.team-picture {}

.team-name {}

.team-profession {}

.page-footer {}

.footer-contacts {}

.footer-contacts-text {}

.footer-contacts-list {}

.footer-contacts-item {}

/* класси з portfolio.html */

.page-header {}

.page-header-nav {}

.logo {}

.site-nav {}

.site-nav-link {}

.header-contacts {}

.header-contacts-link {}

.portfolio {}

.filters-title {}

.filters-list {}

.filters-item {}

.portfolio-list {}

.portfolio-item {}

.portfolio-picture {}

.portfolio-title {}

.portfolio-text {}

.page-footer {}

.footer-contacts {}

.footer-contacts-text {}

.footer-contacts-list {}

.footer-contacts-item {}