/* Палитра */
/* Цвета логотипа, почта в header, акцент #2196F3, #000000 */
/* Фон в секции Шапка и footer background: #2F303A; */
/* Цвет основного текста #212121 */
/* Вторичный цвет #757575 */
/* Цвет текста в шапке #FFFFFF */
/* Контакты в footer rgba(255, 255, 255, 0.6); */
/* Фон в секции Наша команда background: #F5F4FA; */

body {
    background-color: #fff;
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Site nav */

.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

/* Section */

.sectio-title {
    color: #212121;
}

/* класси з index.html */

.page-header {}

.page-header-nav {}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;    
    color: #2196F3;
}

.logo-header {
    color: #000000;
}

.logo-footer {
    color: #FFFFFF;
}

.site-nav {}

.site-nav-link: {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: #2196F3;
}

.header-contacts {}

.header-contacts-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;    
    color: #757575;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
    color: #2196F3;
}

.head {
    background: #2F303A;
}

.head-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;    
    color: #FFFFFF;
}

.head-button {}

.features {}

.features-title {}

.features-list {}

.features-item {}

.features-text {}

.services {}

.services-title {}

.services-list {}

.services-item {}

.services-picture {}

.team {}

.team-title {}

.team-list {}

.team-item {}

.team-picture {}

.team-name {}

.team-profession {}

.page-footer {}

.footer-contacts {}

.footer-contacts-text {}

.footer-contacts-list {}

.footer-contacts-item {}

/* класси з portfolio.html */

.page-header {
}
.page-header-nav {
}
.logo {
}
.site-nav {
}
.site-nav-link {
}
.header-contacts {
}
.header-contacts-link {
}
.portfolio {
}
.filters-title {
}
.filters-list {
}
.filters-item {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-picture {
}
.portfolio-title {
}
.portfolio-text {
}
.page-footer {
    background: #2F303A;
}
.footer-contacts {
}
.footer-contacts-text {
}
.footer-contacts-list {
}
.footer-contacts-item {
}